body {
font-family: 'Playfair Display', serif;
background-color: #778DA9;

}

header {
	font-size:100px;
	text-align: center;
	color:#1B263B;
}

.quote {
	padding:10px;
	margin:10px;
	color:#415A77;
}

.author {
	font-style:italic;
	color:#415A77;
}

@media (min-width:786px){
	header{
		font-size:150px;
	}
}